@model Babymart.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    var urllocation = System.Web.Configuration.WebConfigurationManager.AppSettings["Urllocation"];
    List<SelectListItem> listItems = new List<SelectListItem>();
    int stt = 1;
    var goidoSS = (Babymart.Models.Module.PlanCartModel)Session["PlanCart"];

    for (int i = 1; i < 20; i++)
    {
        listItems.Add(new SelectListItem
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }
    //listItems.Add(new SelectListItem
    //    {
    //        Text = "Số khác",
    //        Value = "0"
    //    });
    int ix = 0;
    var IsLangVN = FBabymartvn.IsLangVN();
    var isHasProductSaleOff = false;
    foreach (var item in Model.CartItemModel)
    {
        if (item.shop_bienthe.giasosanh2 > 0 && item.shop_bienthe.ischecksaleoff == true
            && this.Session["khachhang"] == null)
        {
            isHasProductSaleOff = true;
            break;
        }
    }
}
@section SEOContent{
    <title>@(IsLangVN ? "Giỏ hàng - Babymart.vn" : "My cart - Babymart.vn")</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <style>
        #lean_overlay {
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000;
            display: none;
        }

        #signup {
            width: 404px;
            padding-bottom: 2px;
            font-size: 62.5%;
            font-family: "Lucida Sans Unicode","Lucida Grande","Lucida Sans",sans-serif;
            background: #FFF;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            box-shadow: 0 0 4px rgba(0,0,0,0.7);
            -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
            -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);
        }

        #signup-header {
            background: url(../Content/forntpage/images/ui/hd-bg.png);
            padding: 18px 18px 14px;
            border-bottom: 1px solid #CCC;
            border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
        }

            #signup-header h2 {
                color: #444;
                font-size: 2em;
                font-weight: 700;
                margin: 0;
                padding: 0;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
            }

            #signup-header p {
                color: #444;
                font-size: 1.3em;
                margin: 0;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
                text-shadow: none;
            }

        #signup-ct .popup-content {
            padding: 20px;
            color: #222;
            font-size: 13px;
            line-height: 20px;
            border-bottom: 1px solid #E4E4E4;
            text-align: justify;
        }

            #signup-ct .popup-content a {
                color: #15e;
            }

        .buttonpopup {
            float: right;
            font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
            background: #3F9D4A;
            border: none;
            width: auto;
            overflow: visible;
            font-size: 1.4em;
            color: #FFF;
            padding: 7px 10px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            font-weight: 700;
            text-shadow: 0 1px 0 rgba(0,0,0,0.4);
            margin: 10px 10px 10px 0;
        }

        /*.modal_close {
            position: absolute;
            top: 12px;
            right: 12px;
            display: block;
            width: 14px;
            height: 14px;
            background: url(../Content/forntpage/images/ui/modal_close.png);
            z-index: 2;
        }*/
    </style>

}
@section scripts{
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script>
        function DetelePro(id) {
            $('.dialog-confirm-' + id).html("Bạn có chắc xóa sản phẩm này ra khỏi giỏ hàng không ?");
            $('.dialog-confirm-' + id).dialog({
                resizable: false,
                modal: true,
                title: "Xóa sản phẩm khỏi giỏ hàng",
                height: 250,
                width: 400,
                buttons: {
                    "Yes": function () {
                        $(this).dialog('close');
                        var recordToDelete = $(this).attr("data-id");
                        if (recordToDelete != '') {
                            $.post("/Cart/RemoveFromCart", { "id": recordToDelete },
                                function (data) {
                                    debugger
                                    RemoveItemCart(data);
                                });
                        }
                    },
                    "No": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        function change(recordToUpdate, countToUpdate) {
            $.post("/Cart/UpdateCartCount", { "id": recordToUpdate, "cartCount": countToUpdate },
             function (data) {
                 if (data.ItemCount == 0) {
                     $('#row-' + data.DeleteId).fadeOut('slow');
                 }
                 if (data.ItemCount != -1) {
                     $('#cart-total').text(data.CartTotals);
                     $('#cart-status').text(data.CartCount);
                     $('#sum-' + data.DeleteId).text(data.Price);
                 }
             });

        };
    </script>
    <script type="text/javascript" src="~/Scripts/forntpage/jquery.leanModal.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('a[rel*=leanModal]').leanModal({ top: 200, closeButton: ".modal_close" });
            @if (isHasProductSaleOff == true)
            {
                @Html.Raw("$('#showleanModal').click();");
            }
        });
    </script>
}
@{
    var count = 0;
    foreach (var item in Model.CartItemModel)
    {
        count += item.Count;
    }
}
<a href="#signup" rel="leanModal" id="showleanModal" style="display:none"></a>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="@(IsLangVN?"/":"/en")" title="Return to Home">@(IsLangVN ? "Trang chủ" : "Home")</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">@(IsLangVN ? "Giỏ hàng" : "Cart")</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">@(IsLangVN ? "Giỏ hàng" : "Cart")</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            <div class="heading-counter warning">
                <strong>
                    @(IsLangVN ? "Giỏ hàng hiện tại đang có: " : "My cart has: ")<span id="cart-status">@count</span> @(IsLangVN ? "sản phẩm" : "product")
                    @if (goidoSS != null)
                    {

                        <span> và 1 @(IsLangVN ? "Gói đồ dùng cho mẹ chuẩn bị sinh" : "New Baby Checklist")</span>
                    }
                </strong>
            </div>
            <div class="order-detail-content">
                <form>
                    @if (goidoSS == null && Model.CartItemModel.Count <= 0)
                    {
                        <div id="emptycart" style="text-align: center;padding: 30px;">
                            <h3 style="border: none;">
                                @(IsLangVN ? "Bạn chưa có sản phẩm nào trong giỏ hàng !" : "Empty cart")
                            </h3>
                        </div>
                    }
                    @if (Model.CartItemModel.Count > 0 || goidoSS != null)
                    {
                        <table class="table table-bordered table-responsive cart_summary">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="cart_product action">@(IsLangVN ? "Hình SP" : "Product image")</th>
                                    <th class="action">@(IsLangVN ? "Tên sản phẩm" : "Product name")</th>
                                    <th class="action">@(IsLangVN ? "Đơn giá" : "Price")</th>
                                    <th class="action">@(IsLangVN ? "Số lượng" : "Quantity")</th>
                                    <th class="action">@(IsLangVN ? "Thành tiền" : "Total")</th>
                                    <th class="action"><i class="fa fa-trash-o"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CartItemModel.Count > 0)
                                {
                                    foreach (var item in Model.CartItemModel)
                                    {
                                        <tr id="row-@item.RecordId">
                                            <td></td>
                                            <td class="cart_product">
                                                <a href="@((IsLangVN ? "/tin-tuc/" + item.shop_bienthe.spurl : "/en/product/" + item.shop_bienthe.spurl_us) + ".html")">
                                                    @if (item.shop_bienthe.imgsp != null)
                                                    {
                                                        <img onerror="imgError(this)" src='@(urllocation + item.shop_bienthe.imgsp)' alt='@(FBabymartvn.IsLangVNHasValue(item.shop_bienthe.tensp_us) ? item.shop_bienthe.tensp : item.shop_bienthe.tensp_us)' />
                                                    }
                                                    else
                                                    {
                                                        <img onerror="imgError(this)" src="" />
                                                    }
                                                </a>
                                            </td>
                                            <td class="cart_description">
                                                <p class="product-name"><a href="@((IsLangVN ? "/tin-tuc/" + item.shop_bienthe.spurl : "/en/product/" + item.shop_bienthe.spurl_us) + ".html")">@(FBabymartvn.IsLangVNHasValue(item.shop_bienthe.tensp_us) ? item.shop_bienthe.tensp : item.shop_bienthe.tensp_us)</a></p>
                                                <small style=" display block" class="cart_ref">@(item.shop_bienthe.masp != null ? (IsLangVN ? "Mã SP: " : "ID: ") + @item.shop_bienthe.masp : "")</small>
                                                <small>@(item.shop_bienthe.title != null && item.shop_bienthe.title != "default" ? (IsLangVN ? "Đặc điểm: " : "Status: ") + item.shop_bienthe.title : "")</small>
                                            </td>
                                            <td class="price">
                                                <div>
                                                    @string.Format("{0:0,0 đ}", item.shop_bienthe.gia)
                                                </div>
                                                @if (item.shop_bienthe.giasosanh > 0)
                                                {
                                                    <div class="old-price">@string.Format("{0:0,0 đ}", item.shop_bienthe.giasosanh)</div>
                                                }
                                            </td>
                                            <td id="quantity" class="qty">
                                                @Html.TextBoxFor(model => model.CartItems[ix].Count, item.Count.ToString(), new { onchange = "if(this.value==0) {change(" + item.RecordId + ",1);this.value=1;} else change(" + item.RecordId + ",this.value);", Value = item.Count, type = "number", min = "1", max = "99", maxlength = "2", oninput = "if(value.length>2)value=value.slice(0,2)", @class = "form-control input-sm" })
                                            </td>
                                            <td class="price" id="sum-@item.RecordId">
                                                <span>@string.Format("{0:0,0 đ}", item.Count * item.shop_bienthe.gia)</span>
                                            </td>
                                            <td class="action">
                                                <a href="#" onclick="DetelePro(@item.RecordId)">Delete item</a>
                                                <div class="dialog-confirm-@item.RecordId" data-id="@item.RecordId"></div>
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td colspan="5" class="text-right"><strong>@(IsLangVN ? "Tổng tiền" : "Total"):</strong></td>
                                        <td colspan="2" class="text-right"><strong id="cart-total">@string.Format("{0:0,0 đ}", Model.CartTotal)</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <div class="cart_navigation">
                                                <a class="prev-btn" href="@(IsLangVN?"/":"/en")">@(IsLangVN ? "Tiếp tục mua hàng" : "Buy more")</a>
                                                <span>@(IsLangVN ? "Hỗ trợ mua hàng: 08.6672.0909 | 08.3812.3813" : "Customer Care: 0918.644.643")</span>
                                                <div class="pull-right" @(Model.CartItemModel.Count > 0 ? "" : "style=display:none")>
                                                    @if (Session["khachhang"] == null)
                                                    {
                                                        <a href='/dat-hang.html' class='next-btn'>@(IsLangVN ? "Thanh toán" : "Payment")</a>
                                                    }
                                                    else
                                                    {
                                                        <a href='/xac-nhan-2.html' class='next-btn'>@(IsLangVN ? "Thanh toán" : "Payment")</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (goidoSS != null && goidoSS.PlanModel != null)
                                {
                                    <tr>
                                        <td colspan="7">
                                            <h2 class="text-center">Gói đồ sơ sinh</h2>
                                        </td>
                                    </tr>
                                    foreach (var item in goidoSS.PlanModel)
                                    {
                                        <tr>
                                            <td>@(stt++)</td>
                                            <td class="cart_product">
                                                @if (item.hinhanh != null)
                                                {
                                                    <img onerror="imgError(this)" src='@(urllocation + item.hinhanh)' alt='@(FBabymartvn.IsLangVNHasValue(item.tensp_us) ? item.tensp : item.tensp_us)' />
                                                }
                                                else
                                                {
                                                    <img onerror="imgError(this)" src="" />
                                                }
                                            </td>
                                            <td class="cart_description">
                                                <p class="product-name">
                                                    @(FBabymartvn.IsLangVNHasValue(item.tensp_us) ? item.tensp : item.tensp_us)
                                                </p>
                                            </td>
                                            <td class="price">
                                                <div>
                                                    @string.Format("{0:0,0 đ}", item.gia)
                                                </div>
                                            </td>
                                            <td id="quantity" class="qty">
                                                @item.Count
                                            </td>
                                            <td class="price" colspan="2">
                                                <span>@string.Format("{0:0,0 đ}", item.Count * item.gia)</span>
                                            </td>
                                        </tr>
                                    }


                                    <tr>
                                        <td colspan="5" class="text-right">@(IsLangVN ? "Tổng tiền hàng:" : "Order Total:")</td>
                                        <td colspan="2"><strong>@string.Format("{0:0,0 đ}", goidoSS.ToTal)</strong></td>
                                    </tr>
                                    if (goidoSS.Percent > 0)
                                    {
                                        <tr>
                                            <td colspan="5" class="text-right">@(IsLangVN ? "Hỗ trợ mẹ: " : "Pregnancy assistance:") </td>
                                            <td colspan="2" class="text-right">
                                                <strong>@string.Format("{0:0,0 đ}", ((goidoSS.ToTal * goidoSS.Percent) / 100)) </strong>
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td colspan="5" class="text-right">@(IsLangVN ? "Tổng thanh toán:" : "Total of payment:")</td>
                                        <td colspan="2"><strong>@string.Format("{0:0,0 đ}", goidoSS.TotalSum)</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <div class="cart_navigation">
                                                <a class="prev-btn" href="@(IsLangVN?"/":"/en")">@(IsLangVN ? "Tiếp tục mua hàng" : "Buy more")</a>
                                                <a class="prev-btn" href="/goi-do-so-sinh.html">@(IsLangVN ? "Sửa gói đồ sơ sinh" : "Edit")</a>
                                                <div class="pull-right">
                                                    @if (Session["khachhang"] == null)
                                                    {
                                                        <a href='/dat-hang-do-so-sinh.html' class='next-btn'>@(IsLangVN ? "Thanh toán" : "Payment")</a>
                                                    }
                                                    else
                                                    {
                                                        <a href='/xac-nhan-2-do-so-sinh.html' class='next-btn'>@(IsLangVN ? "Thanh toán" : "Payment")</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </form>

            </div>
        </div>
    </div>
</div>

<div id="signup" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div id="signup-ct">
        <div id="signup-header">
            <h2>@(IsLangVN ? "Bạn hãy đăng nhập để mua sản phẩm với giá khuyến mãi" : "Please login to buy this promotional product")</h2>
            <a class="modal_close" href="#"></a>
        </div>
        <form action="">
            <div class="popup-content">
                @if (IsLangVN)
                {
                    <ul>
                        <li class="text-left"> Bạn chưa là thành viên của <b>Babymart.vn?</b> – <a href="/dang-ky.html">Đăng ký</a></li>
                        <li class="text-left">Bạn là thành viên của <b>Babymart.vn?</b> – <a href="/dang-nhap.html">Đăng nhập</a></li>
                        <li class="text-left">Mua hàng với giá ban đầu. - <a class="modal_close" href="#">Bỏ qua thông báo này</a></li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li class="text-left"> If you don't have an account, please take a moment to create one – <a href="/dang-ky.html">Register</a></li>
                        <li class="text-left">Returning customers – <a href="/dang-nhap.html">Please login to your account</a></li>
                        <li class="text-left">Buy its original price. - <a class="modal_close" href=" #">Ignore this notice</a></li>
                    </ul>
                }
            </div>
            @*<a class="modal_close buttonpopup" href="#"> @(IsLangVN ? "Bỏ qua" : "Close")</a>
                <a class="buttonpopup" href="/dang-ky.html">@(IsLangVN ? "Đăng ký" : "Register")</a>
                <a class="buttonpopup" href="/dang-nhap.html">@(IsLangVN ? "Đăng nhập" : "Login")</a>*@
        </form>
    </div>
</div>

