@section stylesheet{

    <!-- Datepicker -->
    <link rel="stylesheet" href="/Content/me/css/plugins/datepicker/datepicker.css">
}
@section script{
    <script type="text/javascript" src="~/Scripts/me/tiny_mce/tinymce.min.js"> </script>
    <script type="text/javascript" src="https://tinymce.cachefly.net/4.0/jquery.tinymce.min.js"> </script>
    <script src="~/Scripts/me/custom/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/me/file-upload/jquery.fileupload.js"></script>
    <script src="/Scripts/me/file-upload/jquery.fileupload-ui.js"></script>
    <script src="/Scripts/me/file-upload/jquery.iframe-transport.js"></script>
}@section scripts_ko{

    @Scripts.Render("~/module/module")
    <script>
        var urlModule = @Html.Raw("'" + System.Web.Configuration.WebConfigurationManager.AppSettings["UrlModule"] + "';")
        var moduleType = @Html.Raw(Babymart.Infractstructure.BHNEnumHelper.ToJson(typeof(Babymart.Models.Module.Enum.ModuleType)) + ";")
         $(document).ready(function () {
             (new Module.mvModule().Start())
         });

    </script>
}


@section templates {
    @Html.Partial("_list")
    @Html.Partial("_edit")
    @Html.Partial("_add")
}
<!-- ko if:ShowType() === 'List'-->
<div data-bind="template: { name: 'ModuleListTmpl',data:mvlist}"></div>
<!-- /ko -->
<!-- ko if:ShowType() === 'Edit' -->
<div data-bind="template: { name: 'ModuleEditTmpl',data:mvedit}"></div>
<!-- /ko -->
<!-- ko if:ShowType() === 'Add' -->
<div data-bind="template: { name: 'ModuleAddTmpl',data:mvadd}"></div>
<!-- /ko -->