@model IList<Babymart.Models.shop_page>
@{
    var IsLangVN = FBabymartvn.IsLangVN();
}
@if (Model != null &&
    Model.Count > 0)
{
    <div class="block-user box-magazine list-sale">
        <h2>
            <span class="promotionnews"></span> 
            <span>@(IsLangVN ? "Tin khuyến mãi" : "Promotion")</span>
        </h2>
        <div class="content">
            <ul>
                @if (IsLangVN)
                {
                    foreach (var item in Model)
                    {
                        if (item.islinkout == true)
                        {
                            <li><a href="@item.url" target="_blank" style=" width: 190px; ">@(FBabymartvn.IsLangVNHasValue(item.tieude_us) ? item.tieude : item.tieude_us)</a></li>
                        }
                        else
                        {
                            <li><a href="@("/bai-viet/"+item.url+".html")" target="_blank" style=" width: 190px; ">@(FBabymartvn.IsLangVNHasValue(item.tieude_us) ? item.tieude : item.tieude_us)</a></li>
                        }
                    }
                }
                <li><a href="@(IsLangVN ? "/san-pham/khuyen-mai.html" : "/en/product/saleoff.html")" target="_blank" style="width: 190px;">@(IsLangVN ? FBabymartvn.GetContents("SaleOff_feed", "title").Contents : FBabymartvn.GetContents("SaleOff_feed", "title").Contents_us)</a></li>
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>
}