@model IList<Babymart.Models.module_group>
@{
    ViewBag.Title = "Index.Mobile";
}
@section SEOContent{
    @foreach (var item in (List<Babymart.Models.sys_content>)FBabymartvn.ListContents("Magazine"))
    {
        if (!item.Name.Equals("H1"))
        {
            if (item.Name.Equals("title"))
            {
                <title>@item.Contents</title>
            }

            else
            {
                <meta name="@item.Name" content="@item.Contents" />
            }
        }
    }
} 
<h1 class="display-none">@FBabymartvn.GetContents("Magazine", "H1").Contents</h1>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Return to Home">Trang chủ</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Cẩm nang</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row blog-cate"> 
            <div class="column col-xs-12 col-sm-3 col-sm-push-9" id="left_column"> 
                @if (ViewBag.typemodule != null)
                {
                    Html.RenderAction("MenuModule", "Common", new { idtype = ViewBag.typemodule });
                } 
            </div>
            <h1 style="display:none; margin:0;padding:0">@FBabymartvn.GetContents("Magazine", "H1").Contents</h1>
            <!-- Center colunm-->
            <h3 class="pageTitle">Cẩm nang</h3>
            <div class="center_column col-xs-12 col-sm-9 col-sm-pull-3" id="center_column">
                @foreach (var item in Model)
                {
                    var article = item.module_detail.Where(p => p.hide == false && p.StoreId == FBabymartvn.GetStoreId()).OrderByDescending(p => p.createdate).Take(5).ToList();
                    <div class="blog-list">
                        <h2 class="sectionTitle">
                            <span class="page-heading-title2">@item.title</span>
                        </h2>
                        <ul class="blog-posts">
                            @foreach (var item2 in article)
                            {
                                <li class="post-item">
                                    <article class="entry">
                                        <div class="row">
                                            <div class="col-sm-3 handbook-pic">
                                                <div class="entry-thumb image-hover2">
                                                    <a href="@("/cam-nang/bai-viet/" + item2.id + "/" + item2.url + ".html")">
                                                        <img src="@(Common.urlModule() + item2.img)" alt="@item2.title">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="entry-ci">
                                                    <h3 class="entry-title"><a href="@("/cam-nang/bai-viet/" + item2.id + "/" + item2.url + ".html")">@item2.title</a></h3>
                                                    <div class="entry-meta-data">
                                                        <span class="author">
                                                            <i class="fa fa-user"></i>
                                                            đăng bởi: Admin
                                                        </span>
                                                        <span class="date"><i class="fa fa-calendar"></i> @String.Format("{0:dd/MM/yyyy}", item2.createdate)</span>
                                                    </div>
                                                    @*<div class="entry-excerpt">
                                                        @Html.Raw(item2.extract + "...") <a href="@("/cam-nang/bai-viet/" + item2.id + "/" + item2.url + ".html")" title="@item2.title">Xem thêm</a>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            }
                        </ul>
                        <div class="page-footer">
                            <a href="@("/cam-nang/danhmuc/" + item.url + ".html")">Xem các bài viết khác</a>
                        </div>
                    </div>
                }
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>