@{
    ViewBag.Title = "Quên mật khẩu";
    var IsLangVN = FBabymartvn.IsLangVN();
}
@section SEOContent{
    <title>@(IsLangVN ? "Quên mật khẩu - Babymart.vn" : "Forget password - Babymart.vn")</title>
}
<div id='forgetpass' class='clearfix layout-content-common'>
    <h3 class='tab_panel'>@(IsLangVN ? "Quên mật khẩu" : "Forget password")</h3>

    <div class='content clearfix'>
        @using (Html.BeginForm("ForgetPassword", "Customer", FormMethod.Post, new { @class = "frm-common" }))
        {
            <table>
                <tr>
                    <td>@(IsLangVN ? "Email đăng ký" : "Email") <span class='require'>*</span></td>
                    <td>
                        @Html.TextBox("Email")
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @if (IsLangVN == true)
                        {
                            <input type='submit' name='submit' value='Gởi mật khẩu mới' />
                        }
                        else
                        {
                            <input type='submit' name='submit' value='Send new password' />
                        }
                    </td>

                </tr>
            </table>
        }

    </div><!-- end content  -->
    @if (ViewBag.message != null)
    {
        <div style="margin: 0 auto;width: 300px;">
            <h3 style="text-align: center;">@(IsLangVN ? "Thông báo" : "Notify")</h3>
            <p style="text-align:center">
                @Html.Raw(ViewBag.message)
            </p>
        </div>
    }
</div>